.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    position: relative;
}

/* .textOverlay {
    font-size: 
} */

.overlay {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transition: 0.5s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    line-height: 1.1em;
}

.overlay:hover {
    opacity: .85;
    transition: 0.5s ease;
}

.projectThumb {
    width: 25vw;
    min-width: 350px;
    height: 25vw;
    min-height: 350px;
    border: 1px solid #ccc;
}

.mobileHover {
    opacity: .85;
    transition: 0.5s ease;
}