.footer{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    width: 100vw;
    text-align: left;
    font: bold .9em sans-serif;
    padding: 50px;
    margin-top: 80px;
    color: white; 
    background-color: #748CAB;
    display: flex;
    justify-content: space-around;
}


.footer .footerLeft,
.footer .footerCenter,
.footer .footerRight{
    display: flex;
    flex-direction: column;
    vertical-align: top;
    /* padding: 10px; */
}

.footer .footerLeft {
    width: 25vw;
    justify-content: flex-end;
}

.footer .footerCenter {
    width: 50vw;
}

.footer .footerRight{
    width: 25vw; 
}

/* Footer left */

/* The company logo */

.footer h3{
    font: normal 36px 'EB Garamond', cursive;
    margin: 0;
}

.footer h3 span{
    color:  #1D2D44;
}

/* Footer links */

.footer .footerLinks{
    margin: 20px 0 12px;
    padding: 0;
}

.footer .footerLinks a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer .footerCompanyName{
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */


/* .footer .footerCenter i{
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
} */

@media (max-width: 880px) {

    .footer{
        font: bold 10px sans-serif;
        padding: 0;
    }

    .footer h3{
        font: normal 24px 'EB Garamond', cursive;
        margin: 0;
    }
    
    .footer h3 span{
        color:  #1D2D44;
    }

    .footer .footerLeft,
    .footer .footerRight{
        display: flex;
        width: 50vw;
        padding: 10px
        /* margin-bottom: 40px; */
    }

    .footer .footerCenter {
        width: 0vw;
        padding: 10px;
    }

    .footer .footerCompanyName{
        font-size: 10px;
    }
}